@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root{
     /* Cores Primárias */
    --cor-p-Nutmeg: hsl(14, 45%, 36%);
    --cor-pDarkRaspberry: hsl(332, 51%, 32%);

     /* Cores Neutras */
    --cor-sWhite: hsl(0, 0%, 100%);
    --cor-sRoseWhite: hsl(330, 100%, 98%);
    --cor-sEggshell: hsl(30, 54%, 90%);
    --cor-sLightGrey: hsl(30, 18%, 87%);
    --cor-sWengeBrown: hsl(30, 10%, 34%);
    --cor-sDarkCharcoal: hsl(24, 5%, 18%);
    
}

body{
    background-color: var(--cor-sEggshell);
}

section{
    display: flex;
    justify-content: center;
}

#principal{
    margin-top: 80px;
    width:50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--cor-sWhite); 
    border-radius: 30px; 
    padding-bottom: 40px;
}

.imagem{
    width: 90%;
    padding: 25px;
    border-radius: 50px; 
    margin: auto;
}

.titulo{
    font-weight: 400;
    font-family: "Young Serif", serif;
    color: var(--cor-sDarkCharcoal);
    font-size: 50px;
    text-align: left;
    margin-left: 50px; 
  
}

.subtitulo{
    font-family: "Outfit", sans-serif;
    color: var(--cor-sWengeBrown);
    width: 90%;
    font-size: 18px;
    text-align: left;
    margin:10px 30px 30px 50px;
}

.subtitulo2{
    margin-left: 60px; 
    color: var(--cor-pDarkRaspberry);
}

#preparation{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--cor-sRoseWhite);
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    margin:10px 30px 30px 50px;
    border-radius: 10px; 
    color: var(--cor-sWengeBrown);
    
}

ul li {
    padding-left: 20px;
}

ol li {
    padding-left: 20px;
}

.titulo02{
    font-weight: 400;
    font-family: "Young Serif", serif;
    color: var(--cor-p-Nutmeg);
    font-size: 30px;
    text-align: left;
    margin-left: 50px; 
}

#ingredientes{
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--cor-sWengeBrown);
}

#ingredientes ul li{
    margin-left: 35px;
    margin-bottom: 10px;
}

hr {
    width: 90%;
}

#instrucoes{
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--cor-sWengeBrown);
}

#instrucoes li {
    margin-left: 35px;
    margin-bottom: 10px;
}

.nutricao_valor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.valores_tipo{
    font-family: "Outfit", sans-serif;
    color: var(--cor-sWengeBrown);
    font-size: 18px;
}

.valores_numeracao{
    font-family: "Outfit", sans-serif;
    color: var(--cor-sWengeBrown);
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-p-Nutmeg);
}

.attribution{
    margin-top: 50px;
    text-align: center;
}



